In [25]:
import pickle
import pandas as pd

In [28]:
file = 'console.pkl'
#file = 'dummy.pkl'

In [29]:
cd C:\CJH\Python\LCTRFA\float_git\lcf_float\python

C:\CJH\Python\LCTRFA\float_git\lcf_float\python

In [32]:
with open('console.pkl', 'rb') as f:
    console_df = pickle.load(f)
with open('dummy.pkl', 'rb') as f:
    dummy_df = pickle.load(f)

In [39]:
t = pd.concat([console_df.iloc[4:], dummy_df.iloc[0:4]])
t.columns = ['axis', 'td dec', 'td 256', 'sp dec', 'sp 256', 'P gain', 'I gain', 'D gain', 'rev', 'td min',
                          'td max']
t

  axis td dec td 256 sp dec sp 256 P gain I gain D gain    rev td min td max
0   B0  0.526    134  0.137     35    2.5    0.1      0  False     35    200
1   B1  0.004      1  0.079     20    2.0    0.2      0  False     20    245
2   B2  0.004      0  0.125     32    2.0    0.1      0  False     32    230
3   B3  0.004      1  0.071     18    3.5    0.0      0  False     18    244
0   A0   ----   ----   ----   ----   ----   ----   ----   ----   ----   ----
1   A1   ----   ----   ----   ----   ----   ----   ----   ----   ----   ----
2   A2   ----   ----   ----   ----   ----   ----   ----   ----   ----   ----
3   A3   ----   ----   ----   ----   ----   ----   ----   ----   ----   ----

In [30]:
test = None
# let me use this df to test a console app
with open(file, 'rb') as f:
    test = pickle.load(f)

In [28]:
test = test.reset_index(drop=True)

In [11]:
outfile = 'dummy2.pkl'
with open(outfile, 'wb') as f:
    pickle.dump(test, f, protocol=3)

In [31]:
test.to_dict()

{'axis': {0: 'B0', 1: 'B1', 2: 'B2', 3: 'B3'},
 'td dec': {0: 0.526, 1: 0.004, 2: 0.004, 3: 0.004},
 'td 256': {0: 134, 1: 1, 2: 0, 3: 1},
 'sp dec': {0: 0.137, 1: 0.079, 2: 0.125, 3: 0.071},
 'sp 256': {0: 35, 1: 20, 2: 32, 3: 18},
 'P gain': {0: 2.5, 1: 2.0, 2: 2.0, 3: 3.5},
 'I gain': {0: 0.1, 1: 0.2, 2: 0.1, 3: 0.0},
 'D gain': {0: 0, 1: 0, 2: 0, 3: 0},
 'rev': {0: False, 1: False, 2: False, 3: False},
 'td min': {0: 35, 1: 20, 2: 32, 3: 18},
 'td max': {0: 200, 1: 245, 2: 230, 3: 244}}

In [18]:
pd.DataFrame(d)

  axis td dec td 256 sp dec sp 256 P gain I gain D gain   rev td min td max
0   B0   ----   ----   ----   ----   ----   ----   ----  ----   ----   ----
1   B1   ----   ----   ----   ----   ----   ----   ----  ----   ----   ----
2   B2   ----   ----   ----   ----   ----   ----   ----  ----   ----   ----
3   B3   ----   ----   ----   ----   ----   ----   ----  ----   ----   ----

In [13]:
import sys, subprocess, os
from pathlib import Path

In [7]:
cd LCTRFA/float_git/lcf_float/python/

C:\CJH\Python\LCTRFA\float_git\lcf_float\python

In [15]:
p = Path('pngs/20221126_1718_bank_b.png').absolute()

In [16]:
os.system(f'mspaint.exe {p} + &')

0

In [17]:
sys.platform

'win32'

In [21]:
p2 = Path('pngs') / '20221126_1718_bank_b.png'
p2.is_file()

True

In [22]:
fname = '20221126_1718_bank_b.png'
if sys.platform == "win32":
    p = Path('pngs') / fname
    os.system(f'mspaint.exe {p.absolute()} + &')

In [24]:
os.system('mspaint.exe {0} + &'.format(p.absolute()))

0

In [40]:
pwd

'C:\\CJH\\Python\\LCTRFA\\float_git\\lcf_float\\python'